/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// user------------------------------------
.profile-photo {
	border-radius: 50%;
	object-fit: cover;
}
.user-form div {
	margin: 20px 0;
}
.preview-profile-photo > img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.user-name-field {
	width: 600px;
}
.introduction-field {
	resize: none;
	width: 600px;
}
// nav------------------------------------

// nav------------------------------------
.username {
	color: black;
	text-decoration: none;
}
.nav-tabs {
	display: flex;
    justify-content: center;
}
// ---------------------------------------

// my-notes-------------------------------
.add-new-note {
	color: black;
	background-color: #D5D7D4;
	float: right;
}
.add-new-note:hover {
	background-color: #B5B6B3;
}
.flex-note {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.each-note {
	height: 350px;
	width: 300px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: scroll;
}
.each-note:hover {
	box-shadow: 0 0 10px #ddd;
}
.group {
	margin: 10px;
}
.list-item {
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
}
.each-note-sm-view {
	font-size: 10px;
	display: flex;
	justify-content: flex-end;
}
.exercise-sm-note {
	font-size: 10px;
	min-height: 40px;
	width: 250px;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
// ---------------------------------------

// translucent-form-----------------------
.translucent-form {
	opacity: 0.3;
	pointer-events: none;
}
// ---------------------------------------

// form-field-size------------------------
.form-control {
	display: inline-block;
}
.sm-field {
	width: 100px;
}
// ---------------------------------------

// exercise-form--------------------------
.exercise-form {
	margin: 20px;
}
.exercise-form div {
	margin: 10px;
}
.asterisk {
	color: red;
}
// exercise-name-field-----------
.exercise-name-field {
	width: 300px;
}
// ------------------------------
// exercise-note-field-----------
.exercise-note-field {
	resize: none;
	width: 550px;
}
// ------------------------------
// add-btn-----------------------
.add-btn-width {
	width: 550px;
}
// ------------------------------
// cancel-btn--------------------
.cancel-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
// ------------------------------
// hide-exercise-field-----------
.hide-field {
	display: none;
}
// ------------------------------
.show-field, .add-btn, .flex-end {
	display: flex;
	justify-content: flex-end;
}
// ---------------------------------------

// note-show------------------------------
.note-show {
	padding: 20px;
	margin: 50px;
	border: 1px solid #ddd;
    border-radius: 20px;
}
.edit-note-name {
	display: none;
}
.edit-note-name-icon {
	color: #72CA5C;
}
.edit-note-name-icon:hover .edit-note-name {
	display: inline;
}
.edit-note-name-form {
	display: none;
}
.exercises-count {
	width: 150px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ddd;
}
.note-exercise-table {
	margin-top: 20px;
}
.note-exercise-table > tbody > tr> td {
	min-width: 120px;
	padding: 10px;
}
.note-exercise-table > tbody > tr> td:nth-child(1) {
	min-width: 150px;
	padding: 10px;
}
.exercise-note {
	min-height: 100px;
	width: 550px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.delete-exercise-icon {
	color: #FC5751;
	margin-right: 5px;
}
.edit-exercise-icon {
	color: #72CA5C;
}
.edit-text {
	display: none;
	font-size: 12px;
}
.edit-exercise-icon:hover .edit-text{
	display: inline;
}
.add-new-exercise-btn {
	margin: 20px 0;
}
// ---------------------------------------
